@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

body,
.footer {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}
.navigation ul {
  display: flex;

  list-style-type: none;
  justify-content: flex-end;
  padding: 20px;
  background-color: #00dd00;
}

.navigation li {
  padding: 10px 15px;
}

.navigation a {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border-radius: 3px;
}

.navigation li a:hover {
  background-color: white;
}

.active {
  background-color: white;
}

.footer-active {
  color: #000000;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero::before {
  content: "";

  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/yiting-he-ww-rvMDsrw4-unsplash.jpg);
  background-size: cover;

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(40%);
}

.hero__content {
  position: absolute;
  color: white;
}

.hero__content p {
  font-size: 1.3rem;
  padding: 30px 0;
}

.hero-button,
.scooter-button {
  background-color: #00dd00;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 15px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: ease 0.3s;
}

.hero-button:hover,
.scooter-button:hover {
  background-color: #059f05;
}
.title-color {
  color: #00dd00;
}

.urban-intro {
  background-color: #eeeeee;
  height: auto;
  padding: 60px;
}

.urban-intro-title {
  text-align: center;
  padding-bottom: 40px;
}
.urban-cards {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

.urban-cards .card {
  height: 500px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
}

.urban-cards .card img {
  object-fit: cover;
  height: 300px;
  width: 400px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}



/* .urban-cards .card:last-child img {
  display: block;
  width: 100%;
} */

.urban-cards .card .card-content {
  padding: 40px;
}

.urban-scooter {
  padding: 80px;
}

.urban-scooter > h2 {
  text-align: center;
}

.urban-scooter .card {
  background-color: #eeeeee;
  cursor: pointer;
  transition: ease 0.3s;
  padding: 40px 100px;
  border-radius: 10px;
}

.urban-scooter .card h3 {
  padding: 30px 0 10px;
}
.urban-scooter .card:hover {
  background-color: #c4c4c4;
}
.urban-scooter .cards {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  text-align: center;
}

.urban-scooter img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.urban-discovery {
  background-color: #202020;
  color: white;
  padding: 450px 40px 40px;
}

.urban-discovery > h2 {
  text-align: center;
}

.urban-lists {
  padding: 60px 40px 40px;
}

.urban-sublist {
  padding: 30px;
}

.urban-sublist p {
  padding: 10px 0;
  font-size: 1.2rem;
}

.urban-ride {
  text-align: center;
  background-color: #eeeeee;
  padding: 60px;
}

.urban-ride h2 {
  padding: 20px 0;
}

.urban-ride p {
  font-size: 2rem;
}
.btn-ride {
  background-color: #00dd00;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
  cursor: pointer;
  transition: ease 0.3s;
}

.urban-ride a {
  text-decoration: none;
}
.btn-ride:hover {
  background-color: #059f05;
}
.urban-form {
  height: 1500px;
}
.urban-form h1 {
  text-align: center;
  padding-top: 60px;
}
.urban-map {
  display: flex;
  margin: 100px auto;
  background-color: #202020;
  height: 600px;
  width: 900px;
}

.urban-search {
  display: flex;
  margin: 100px auto 50px;
  height: 550px;
  width: 1000px;
  /* background-color: #202020; */
}

.map-section {
  /* background-color: #00dd00; */
  height: 500px;
  width: 100%;
}

.urban-profile {
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1.5rem;
  gap: 2rem;
}

.urban-profile p {
  padding: 20px 0;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  padding: 30px;
}

.form-section input {
  border: none;
  outline: none;
  border-bottom: 2px solid #00dd00;
  padding: 10px;
  margin-top: 50px;
}

.form-section ul {
  list-style-type: none;
}
.search-btn {
  border: none;
  background-color: #00dd00;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.2rem;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  transition: ease 0.3s;
}

.search-btn:hover {
  background-color: #059f05;
}

.urban-form h2 {
  text-align: center;
}
.urban-locations {
  border: 2px solid black;
  border-radius: 5px;
  align-items: center;
  width: 50%;
  padding: 20px;
  margin: 20px auto;
  transition: 0.3s ease;
  display: flex;
  justify-content: space-between;
}

.book-btn {
  background-color: #00dd00;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px 15px;
}

.book-btn:hover {
  background-color: #059f05;
}
.urban-signup {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 100px auto;
  gap: 2rem;
  background-color: #202020;
  padding: 50px;
  color: white;
  border-radius: 15px;
}

.urban-signup form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.urban-signup input,
.urban-signup button {
  border: none;
  outline: none;
}

.urban-signup input {
  padding: 10px;
  background-color: transparent;
  border-bottom: 2px solid #00dd00;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.urban-signup button {
  background-color: #00dd00;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 50px;
  font-size: 1rem;
  padding: 5px 10px;
  transition: ease 0.3s;
}

.urban-signup button:hover {
  background-color: #059f05;
}

.urban-signup input::placeholder{
  color: white;
}
.urban-skip {
  border: 2px solid #00dd00 !important;
  background-color: #202020 !important;
}

.urban-skip:hover {
  background-color: #00dd00 !important;
  color: white !important;
}
.urban-skip a {
  color: white !important;
  text-decoration: none;
}

.urban-signup a {
  color: #00dd00;
  transition: ease 0.3s;
}

.urban-kick {
  display: flex;
  padding: 50px;
}

.cards a {
  color: black;
}

.kick-info li,
.offroad-info li {
  padding: 30px 0;
}

.scooter-button {
  margin: 0 auto;
  display: flex;
}
.about-head {
  display: flex;
  padding: 50px 100px 350px;
  justify-content: space-between;
}

.back-image {
  width: 70%;
  height: 600px;
  object-fit: cover;
  margin: 0 auto;
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}
.about-head p {
  width: 50%;
}

.reviews {
  display: flex;
  padding: 50px;
  text-align: center;
  justify-content: space-between;
}

.urban-reviews h2 {
  text-align: center;
  padding: 60px;
}
.reviews h3 {
  padding: 30px;
}
.reviews .review-card {
  padding: 30px;
}

.reviews .review-card:nth-of-type(2) {
  border-right: 2px solid #00dd00;
  border-left: 2px solid #00dd00;
}
.reviews img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.blog-title {
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
  padding: 40px;
}

.blog-content {
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  height: 800px;
}

.blog-image span{
  color: #00dd00;
  font-size:800;
padding: 40px 0;
display: block;
}
.side-head {
  border-bottom: 2px solid #9c9c9c;
  text-align: center;
  padding: 10px 40px;
  align-items: center;
}
.blog-image img {
  height: 500px;
  width: 800px;
  object-fit: cover;
  border-radius: 20px;
}

.blog-side span {
  color: #9c9c9c;
  display: block;

  padding-top: 20px;
}

.blog-side {
  padding: 40px;
}
.travel-guide{
  background-color: #c4c4c4;
  height: 800px;
}
.travel-guide h2{
  text-align: center;
  font-size: 3rem;
  padding:30px 0;
}

.travel-cards{
  display: flex;
  justify-content: space-around;

}

.travel-cards div{
  height: 600px;
  width: 350px;
  background-color: white;
  
border-radius: 25px;
}
.travel-cards img{
  height: 300px;
  width:350px;
  object-fit: cover;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
}

.travel-cards h3{
padding: 10px;
}

.travel-cards ul{
  padding: 10px 30px;
}
.footer {
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 100px 200px;
}


.modal-add{
  padding:10px 0;
}
.footer-navigation a {
  text-decoration: none;
  color: white;
}
.footer-navigation ul {
  list-style-type: none;
}
.footer-navigation li {
  font-size: 1.2rem;
  padding: 5px 0;
}

.footer p,
.footer a,
.icon {
  color: #9c9c9c;
  transition: ease 0.3s;
}

.footer a,
.icon {
  cursor: pointer;
}

.footer a:hover,
.icon:hover {
  color: #ffffff;
}

.social h3 {
  padding-bottom: 10px;
}
.social-icons {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.icon {
  font-size: 3rem;
  padding-right: 10px;
}
